<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
 <title>Pedido</title>
  <script>
  $( function() {
    $( "#data" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'dd-mm-yy' 
    });
  } );
  </script>
</head>
<body>
	<h1 layout:fragment="header">Cadastro de pedido</h1>
	<div layout:fragment="content" class="input-form">
		 <form id="pedidoForm" th:action="@{/pedidos/(form)}" th:object="${pedido}" action="#" method="post"  class="form-horizontal">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Erro de validação</p>
			</div>
			<input type="hidden" th:field="*{id}" class="form-control" th:class="${#fields.hasErrors('id')} ? 'field-error'" />
			<div class="mb-3">
				 <label class="control-label col-sm-2" for="nome">Nome</label>
				 <select class="col-sm-10"  th:field="*{cliente}" >
					   <option th:each="cliente :${todosClientes}"
							   th:value="${cliente.id}"
							   th:text="${cliente.nome}"></option>
				 </select>
			</div>
			<div class="mb-3">  
				 <label class="control-label col-sm-2" for="text">Data</label>
				 <input class="col-sm-10" type="text" id="data" th:field="*{data}" th:class="${#fields.hasErrors('data')} ? 'field-error'"/>
			</div>
			<div class="mb-3">  
				 <label class="control-label col-sm-2" for="text">Itens</label>
				 <select id="itemList" multiple="multiple" th:field="*{itens}"  name="itemListId">
					   <option th:each="item :${todosItens}"
							   th:value="${{item}}"
							   th:text="${item.nome}"></option>
				 </select>
			</div>
			 <div class="mb-3">
				 <button type="submit" class="btn btn-primary">Gravar</button>
			</div>
			<br/>
			<a th:href="@{/pedidos/}" href="pedidos.html" class="btn btn-secondary"> voltar </a>
		</form>
	  </div>
  </body>
</html>