<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Cliente</title>
</head>
<body>
<h1 layout:fragment="header">Cadastro de cliente</h1>
<div layout:fragment="content" class="input-form">
		<form id="clienteForm" th:action="@{/clientes/(form)}" th:object="${cliente}" action="#" method="post" class="form-horizontal">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Erro de validação</p>
			</div>
			<input type="hidden" th:field="*{id}" class="form-control" th:class="${#fields.hasErrors('id')} ? 'field-error'" />
			<div class="mb-3">
				<label for="nome" class="form-label">Nome</label>
				<input type="text" th:field="*{nome}" class="form-control" aria-describedby="nomeAjuda" th:class="${#fields.hasErrors('nome')} ? 'field-error'" />
  			    <div id="nomeAjuda" class="form-text">Nome do cliente</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="text">Endereço</label>
				<textarea th:field="*{endereco}" class="form-control" th:class="${#fields.hasErrors('endereco')} ? 'field-error'" aria-describedby="endAjuda"></textarea>
				<div id="endAjuda" class="form-text">Endereço do cliente</div>
			</div>
			<div class="mb-3">
 			  <button type="submit" class="btn btn-primary">Gravar</button>
			</div>
			<br/>
			<a th:href="@{/clientes/}" href="clientes.html" class="btn btn-secondary">Voltar</a>
		</form>
	</div>
 </div>
</body>
</html>