<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout">
<head>
<title>Ambiente</title>
</head>
<body>
 <h1 layout:fragment="header">Ambiente</h1>
 <div layout:fragment="content" class="container">
  <div class="hero-unit">
        <p>
            <a href="#" th:href="@{/properties}" class="btn btn-large btn-success">System Properties</a>
        </p>
    </div>
    <div>
        <h1>Spring Actuator</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/autoconfig}">autoconfig</a></p>
                    </td>
                    <td>
                        <p>Displays an auto-configuration report showing all auto-configuration candidates and the
                        reason why they “were” or “were not” applied.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/beans}">beans</a></p>
                    </td>
                    <td>
                        <p>Displays a complete list of all the Spring Beans in your application</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/configprops}">configprops</a></p>
                    </td>
                    <td>
                        <p>Displays a collated list of all <code class="literal">@ConfigurationProperties</code>.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/dump}">dump</a></p>
                    </td>
                    <td>
                        <p>Performs a thread dump.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/env}">env</a></p>
                    </td>
                    <td>
                        <p>Exposes properties from Spring’s <code class="literal">ConfigurableEnvironment</code>.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/health}">health</a></p>
                    </td>
                    <td>
                        <p>Shows application health information (defaulting to a simple “OK” message).</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/info}">info</a></p>
                    </td>
                    <td>
                        <p>Displays arbitrary application info.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/metrics}">metrics</a></p>
                    </td>
                    <td>
                        <p>Shows “metrics” information for the current application.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/mappings}">mappings</a></p>
                    </td>
                    <td>
                        <p>Displays a collated list of all <code class="literal">@RequestMapping</code> paths.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><a href="#" th:href="@{/trace}">trace</a></p>
                    </td>
                    <td>
                        <p>Displays trace information (by default the last few HTTP requests).</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
 </div>
</body>
</html>