<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Item</title>
</head>
<body>
	<h1 layout:fragment="header">Cadastro de item</h1>
	<div layout:fragment="content" class="input-form">
		
		<div class="well">
		 <form id="itemForm" th:action="@{/itens/(form)}" th:object="${item}" action="#" method="post"  class="form-horizontal">
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Erro de validação</p>
			</div>
			
			<input type="hidden" th:field="*{id}" th:class="${#fields.hasErrors('id')} ? 'field-error'" />
			 
			<div class="form-group">
			 <label class="control-label col-sm-2" for="nome">Nome</label> 
			 <input class="col-sm-10" type="text" th:field="*{nome}" th:class="${#fields.hasErrors('nome')} ? 'field-error'" />
			</div>
			<div class="form-group">  
			 <label class="control-label col-sm-2" for="text">Preço</label>
			 <input class="col-sm-10" type="text" th:field="*{preco}" th:class="${#fields.hasErrors('preco')} ? 'field-error'"/>
			</div>
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" value="Gravar" />
			</div>
			<br/>
			<a th:href="@{/itens/}" href="itens.html"> voltar </a>
		</form>
			</div>
	</div>
</body>
</html>
