<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
 <title>Item</title>
</head>
<body>
	<h1 layout:fragment="header">Item</h1>
	<div layout:fragment="content" class="well">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">item gravado com sucesso</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Preço</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td id="id" th:text="${item.id}">123</td>
					<td id="nome" th:text="${item.nome}">Nome...</td>
					<td id="preco" th:text="${item.preco}">Preco...</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-left">
			<a href="form.html" th:href="@{'/itens/alterar/' + ${item.id}}">alterar</a>
			| <a href="itens" th:href="@{'/itens/remover/' + ${item.id}}">remover</a>
		    | <a th:href="@{/itens/}" href="list.html">voltar</a>
		</div>
	</div>
</body>
</html>